/* Estilos generales */
.sidenav-container {
  display: flex;
}

/* Estilos del sidenav */
.sidenav {
  width: 300px;
  background-color: #040b14;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  z-index: 1000;
}

/* Estilos del botón para abrir el sidenav */
.sidenav-toggle {
  display: none;
  background-color: #2e609d;
  border-radius: 50%;
  border: none;
  color: rgb(255, 255, 255);
  left: 20px;
  top: 20px;
  cursor: pointer;
  position: fixed;
  z-index: 1100; 
  font-size: 1.2rem; 
  width: 40px; 
  height: 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilos del menú */
.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidenav li {
  padding: 15px;
  display: flex;
  align-items: center;
}

.sidenav a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.sidenav i {
  margin-right: 12px;
}

.profile-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}


h1, p {
  font-family: 'Poppins', sans-serif;
}

/* Estilos de los iconos de redes sociales */
.social-btn {
  background-color: #2e609d;
  color: white;
  width: 5px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-btn:hover {
  background-color: #1e3d6c;
}

.social-btn i {
  font-size: 18px; /* Ajusta el tamaño del icono */
}

/* Estilos para el contenido principal */
.main-content {
  margin-left: 300px;
  width: calc(100% - 300px);
}

@media screen and (max-width: 768px) {
  .sidenav {
    transform: translateX(-300px); 
  }

  .sidenav-toggle {
    display: block;
  }

  .sidenav.open {
    transform: translateX(0); 
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }
}
