<div class="about-container">
    <!-- Encabezado "About Me" -->
    <div class="about-header">
      <h1>About Me</h1>
      <div class="header-underline"></div>
    </div>
  
    <!-- Texto descriptivo -->
    <div class="about-description">
      <p>
        I am a skilled Full Stack Developer with strong expertise in front-end development and hands-on experience in back-end technologies as well. I excel at creating responsive, user-friendly web applications and have a solid understanding of the complete development process. My experience includes working with modern front-end frameworks like React and mastering backend tools like Node.js, Express, and MongoDB. I enjoy building solutions that are both functional and visually appealing, and I thrive in collaborative environments where I can contribute to both the client-side and server-side of projects. I am learning and improving my skills to deliver high-quality results.
      </p>
    </div>
  
    <!-- Sección de imagen y detalles -->
    <div class="about-details-section">
      <div class="image-container">
        <img src="perfil.jpg" alt="Your Photo" />
      </div>
      
      <div class="details-container">
        <div class="detail-item">
          <span class="detail-title">Frontend Developer & Junior Stack Developer</span>
        </div>
        <div class="detail-item">
          <span class="detail-label">Birthday:</span> 1 Jun 2001
        </div>
        <div class="detail-item">
          <span class="detail-label">Phone:</span> +593 991586128
        </div>
        <div class="detail-item">
          <span class="detail-label">City:</span> Ambato, Ecuador
        </div>
        <div class="detail-item">
          <span class="detail-label">Age:</span> 23
        </div>
        <div class="detail-item">
          <span class="detail-label">Degree:</span> Software engineering
        </div>
        <div class="detail-item">
          <span class="detail-label">Email:</span> pinchadiego8&commat;gmail.com
        </div>
        <div class="detail-item">
          <span class="detail-label">Freelance:</span> Available
        </div>
      </div>
    </div>

    <br><br><br><br><br>
    <div class="about-header">
        <h1>Technical Skills</h1>
        <div class="header-underline"></div>
      </div>
    
      <div class="about-description">
        <p>
            These are the skills in which i have worked and made projects
        </p>
      </div>

      <div class="tools-section">
        <i class="fab fa-docker"></i>
        <i class="fab fa-js-square"></i>
        <i class="fab fa-react"></i>
        <i class="fab fa-node-js"></i>
        <i class="fab fa-angular"></i>
        <i class="fab fa-git"></i>
        <i class="fab fa-github"></i>
        <i class="fas fa-database"></i>
      </div>

  </div>
  