/* Contenedor del portafolio */
.portfolio-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
  }
  
  /* Encabezado "Portfolio" */
  .portfolio-header {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .portfolio-header h1 {
    font-size: 1.7rem;
    font-weight: bold;
    color: black;
  }
  
  .header-underline {
    width: 80px;
    height: 4px;
    background-color: #2e609d;
    margin-top: 5px;
  }
  
  /* Grid de proyectos */
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .portfolio-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .portfolio-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .portfolio-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .portfolio-card:hover .portfolio-overlay {
    opacity: 1;
  }
  
  .portfolio-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-align: center;
  }
  
  .portfolio-number {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .portfolio-title {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  .portfolio-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .portfolio-buttons button {
    padding: 8px 20px;
    background-color: #2e609d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .portfolio-buttons button:hover {
    background-color: #1b4578;
  }
  
  @media (max-width: 768px) {
    .portfolio-grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .portfolio-header h1 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    .portfolio-grid {
      grid-template-columns: 1fr;
    }
  
    .portfolio-header h1 {
      font-size: 1.8rem;
    }
  }
  